*.cache/
aclocal.m4
autoscan.log
compile
config.log
config.status
config.guess
config.sub
libtool
ltmain.sh
configure
depcomp
install-sh
Makefile
Makefile.in
missing

src/gateway*
src/Makefile
src/Makefile.in
src/.deps/